---
import { type CollectionEntry, getCollection } from 'astro:content';
import BlogPost from '../../layouts/BlogPost.astro';
import BaseHead from "../../components/BaseHead.astro";
import {SITE_DESCRIPTION, SITE_TITLE} from "../../consts";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import Prose from "../../components/Prose.astro";

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}

type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.description.length - b.data.description.length ,
);

const { Content } = await post.render();
---

<!doctype html>
<html lang="en">
<head>
	<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
</head>
<body>
<Header />
<main>
	<section class="md:fixed border-b-[0.05rem] left-0 w-full md:w-[300px] md:h-[100vh] gap-10 pt-24 py-5 px-4 md:border-r-[0.05rem] border-gray-300">
		<ul class="flex gap-3 flex-col">
			{
				posts.map((x) => (
					<li class:list={["p-2", { "!text-blue-500 font-semibold bg-gray-100 rounded-md": x.slug == post.slug }]}>
						<a href={`/docs/${x.slug}/`} >
							<h4 class="title">{x.data.title}</h4>
						</a>
					</li>
				))
			}
		</ul>
	</section>

	<div class="md:pl-[320px] md:pr-[20px] px-3 pt-10 md:pt-36 w-full max-w-[1300px] mx-auto">
		<h1 class="text-3xl mb-10 font-semibold">{post.data.title}</h1>
		<Prose>
			<Content />
		</Prose>
	</div>
</main>
<Footer />
</body>
</html>
